:root {
  font-family: 'Segoe UI', Arial, Helvetica, 'Lucida Sans', Verdana, sans-serif;
  max-width: 100vw;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:focus {
  outline: dotted 1px blue;
  outline-offset: 2px;
  text-decoration: none;
}

:active {
  outline: none;
}

a, a:visited {
  color: blue;
}

::selection {
  background-color: goldenrod;
  color: white;
}

body {
  max-width: 100vw;
  font-size: calc(16px + 0.25vw);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 10;
}

p, h2 {
  max-width: 600px;
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
}

.half-line-break {
  display: block;
  line-height: 0.4em;
}

.disabled {
  opacity: .5;
  box-shadow: none;
}
