.section {
  padding-top: 120px;
  &:not(:last-of-type) {
    margin-bottom: -60px;
  }
  display: flex;
  flex-direction: column;
  align-content: center;
  @media only screen and (min-width: 680px) {
    padding-left: 8vw;
  }

  h2 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 20px;
  }
}
