.section {
  padding-top: 120px;
  &:not(:last-child) {
    margin-bottom: -60px;
  }
  display: flex;
  flex-direction: column;
  align-content: center;
  @media only screen and (min-width: 680px) {
    padding-left: 8vw;
  }

  h2 {
    margin-bottom: 15px;
    max-width: 600px;
  }

  p {
    margin-bottom: 20px;
    max-width: 600px;
  }
}

.h3 {
  a, a:visited {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    span { text-decoration: underline; }
  }
}
